---
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
  title="Login"
  description="Inicie sesi贸n para acceder a las caracter铆sticas exclusivas."
  bodyClass="bg-gradient-to-b from-primary via-white to-primary"
>
  <main class="h-screen sm:flex sm:flex-col">
    
      <div class="text-center flex flex-col text-white py-3">
        <h1 class=" text-4xl">Limpieza de Pozos Santa Cruz</h1>
      </div>
    
    <div class="flex flex-col z-10 mx-auto">
      <!-- Formulario para el login -->
      <form id="login-form" class="max-w-80" action="/api/login">
        <div class="p-8 bg-base-100 bg-opacity-60 mx-auto rounded-2xl ">
          <div class="mb-4">
            <h3 class="font-semibold text-2xl text-neutral text-center">Ingresar</h3>

          </div>
          <div class="space-y-5">
            <div class="space-y-2">
              <label for="username" class="text-sm font-medium text-neutral tracking-wide">Usuario</label>
              <input name="username" id="username" class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-accent" type="text" required />
            </div>
            <div class="space-y-2">
              <label for="password" class="mb-5 text-sm font-medium text-neutral tracking-wide">Contrase帽a</label>
              <input name="password" id="password" class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-accent" type="password" required />
            </div>
            <div class="flex items-center justify-between">

            </div>
            <div>
              <button type="submit" class="w-full flex justify-center bg-primary hover:bg-accent text-base-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500">Sign in</button>
              <p id="form-error" class="text-red-500 mt-2"></p>
            </div>
          </div>
        </div>
      </form>
      
    </div>
    <div class="absolute bottom-0 w-full">
    <Footer />
    </div>
  </main>

  <script>
    const loginForm = document.getElementById('login-form') as HTMLFormElement;    
    loginForm.addEventListener('submit', async function(event) {
        event.preventDefault();
        const username = (document.getElementById('username') as HTMLInputElement).value;
        const password = (document.getElementById('password') as HTMLInputElement).value;

        try {
            // Enviar las credenciales al backend de Django
            const djangoResponse = await fetch('http://localhost:8000/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            if (!djangoResponse.ok) {
                throw new Error('Credenciales incorrectas');
            }

            const data = await djangoResponse.json();

            // Enviar el token al endpoint de Astro para guardarlo como cookie
            const astroResponse = await fetch('/api/cookie', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: data.token })
            });
            console.log(astroResponse);
            
            if (!astroResponse.ok) {
                throw new Error('No se pudo establecer la cookie');
            }

            // Redirigir a la p谩gina protegida
            window.location.href = '/mapa';
        } catch (error) {
            const formError = document.getElementById('form-error') as HTMLParagraphElement;
            formError.textContent = `${error}`;
        }
    });
</script>

  <!-- <script>

        // Define la interfaz para la respuesta de la API
    interface LoginResponse {
        token: string;
        user_id: number;
        username: string;
    }
    const loginForm = document.getElementById('login-form') as HTMLFormElement;    
    loginForm.addEventListener('submit', async function(event) {
            console.log(" ~ loginForm.addEventListener ~ astroResponse:", astroResponse)
            console.log(" ~ loginForm.addEventListener ~ astroResponse:", astroResponse)
        event.preventDefault();
        const username = (document.getElementById('username') as HTMLDataElement ).value;
        const password = (document.getElementById('password') as HTMLDataElement ).value;

        try {
            const response = await fetch('http://localhost:8000/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            if (!response.ok) {
                throw new Error('Credenciales incorrectas');
            }

            const data = await response.json();

            // Ahora hacemos una petici贸n al backend de Astro para crear la cookie
            const astroResponse = await fetch('/api/set-cookie', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ token: data.token })
            });

            if (!astroResponse.ok) {
                throw new Error('No se pudo establecer la cookie');
            }

            // Redirigir a la p谩gina protegida
            window.location.href = '/';
        } catch (error) {
            console.error('Error en la autenticaci贸n', error);
            const formError = document.getElementById('form-error') as HTMLParagraphElement;
            formError.textContent = `Error en la autenticaci贸n: ${error}`;
        }
    });


</script> -->

    
    
</MainLayout>
