{% load static inline_svg %}

<nav id="navbar" class="flex justify-between items-center {{ class_nav }} transition-all duration-1000 py-1 h-9 mt-2">
  <ul class="menu menu-horizontal px-1 uppercase min-h-0">
    <li>
      <a href="/" class="flex items-center p-1">
        <div class="w-4 h-4">
          {% inline_svg_from_static 'icons/home.svg' %}
        </div>
      </a>
    </li>
  </ul>

  {% if is_authenticated %}
    <a href="#" id="logout-link-desktop" class="flex items-center p-1">
      <div class="w-4 h-4">
        {% inline_svg_from_static 'icons/logout.svg' %}
      </div>
    </a>
  {% else %}
    <a href="#" class="flex items-center p-1">
      <div class="w-4 h-4">
        {% inline_svg_from_static 'icons/login.svg' %}
      </div>
    </a>
  {% endif %}
</nav>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  async function logout() {
    const csrftoken = getCookie('csrftoken');
    const response = await fetch('/logout/', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      }
    });
    
    if (response.ok) {
      window.location.href = '/?message=Successfully logged out';
    } else {
      console.error("Error logging out");
    }
  }
         
  document.addEventListener("DOMContentLoaded", function() {
    const logoutLink = document.getElementById("logout-link");
    const logoutLinkDesktop = document.getElementById("logout-link-desktop");

    if (logoutLink) {
      logoutLink.addEventListener("click", (e) => {
        e.preventDefault();
        logout();
      });
    }

    if (logoutLinkDesktop) {
      logoutLinkDesktop.addEventListener("click", (e) => {
        e.preventDefault();
        logout();
      });
    }
  });

  const handleScroll = () => {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > window.innerHeight/3) {
      navbar.classList.add('scrolled');
      console.log('scrolled');
    } else {
      navbar.classList.remove('scrolled');
      console.log('not scrolled');
    }
  };
  window.addEventListener("scroll", handleScroll);
</script>
