{% load static inline_svg %}

<nav id="navbar" class="navbar {{ class_nav }} transition-all duration-1000">


  <div class="navbar-start hidden md:flex">
    <ul class="menu menu-horizontal px-1 uppercase">
      <li>
        <a href="/">
          <div class="w-5 h-5">
            {% inline_svg_from_static 'icons/home.svg' %}
          </div>
        </a>
      </li>

    </ul>
  </div>

  <div class="navbar-start">
    <div class="dropdown w-0">
      <div tabindex="0" role="button" class="btn btn-ghost md:invisible">
        <svg
          class="ml-auto h-5 w-5 sombra"
          fill="currentColor"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-lg dropdown-content bg-primary rounded-box z-[1] mt-3 w-48 p-2 shadow mr-1 right-0 text-white">
        {% for item in menu_data %}
          {% if is_authenticated or not item.protected %}
            <li>
              <a href="{{ item.link }}" class="flex justify-between">
                {{ item.name }}
                <div class="w-5 h-5">
                  {% inline_svg_from_static 'icons/'|add:item.icon|add:'.svg' %}
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          {% if is_authenticated %}
            <a href="#" id="logout-link" class="logout-link flex justify-between">
              <div class="w-5 h-5 ">
                {% inline_svg_from_static 'icons/logout.svg' %}
              </div>
            </a>
          {% else %}
            <a href="#" class="flex justify-between">
              <div class="w-5 h-5 ">
                {% inline_svg_from_static 'icons/login.svg' %}
              </div>
            </a>
          {% endif %}
        </li>
      </ul>
    </div>

    {% if is_authenticated %}
      <a href="#" id="logout-link-desktop" class="hidden md:flex flex-row w-20 justify-around">
        <div class="w-5 h-5 ">
          {% inline_svg_from_static 'icons/logout.svg' %}
        </div>
      </a>
    {% else %}
      <a href="#" class="hidden md:flex flex-row w-20 justify-around">
        <div class="w-5 h-5 ">
          {% inline_svg_from_static 'icons/login.svg' %}
        </div>
      </a>
    {% endif %}
  </div>
</nav>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  async function logout() {
    const csrftoken = getCookie('csrftoken');
    const response = await fetch('/logout/', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      }
    });
    
    if (response.ok) {
      window.location.href = '/?message=Successfully logged out';
    } else {
      console.error("Error logging out");
    }
  }
         
  document.addEventListener("DOMContentLoaded", function() {
    const logoutLink = document.getElementById("logout-link");
    const logoutLinkDesktop = document.getElementById("logout-link-desktop");

    if (logoutLink) {
      logoutLink.addEventListener("click", (e) => {
        e.preventDefault();
        logout();
      });
    }

    if (logoutLinkDesktop) {
      logoutLinkDesktop.addEventListener("click", (e) => {
        e.preventDefault();
        logout();
      });
    }
  });

  const handleScroll = () => {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > window.innerHeight/3) {
      navbar.classList.add('scrolled');
      console.log('scrolled');
    } else {
      navbar.classList.remove('scrolled');
      console.log('not scrolled');
    }
  };
  window.addEventListener("scroll", handleScroll);
</script>
