{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'maps/maps.css' %}">
{% endblock %}

{% block content %}
<main class="w-full">
    {% include 'components/header.html' with class_nav='max-w-2xl w-1/2 md:w-3/5 text-black fixed right-2 md:left-1/2 md:transform md:-translate-x-1/2 z-[10000] rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100' %}
    <div id="map">
      <div id="overlay" class="invisible z-[10000] absolute inset-0 bg-black/50 flex items-center justify-center">
        <span class="loading loading-spinner text-secondary"></span>
      </div>
    </div>

    <!-- You can open the modal using ID.showModal() method -->
    <dialog id="precios" class="modal">
      <div class="modal-box bg-neutral text-black sombra">
        <form method="dialog">
          <button id="modalPrecioClose" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
            >✕</button>
        
          <h3 class="font-bold text-lg uppercase">Cotización</h3>
          <hr/>
          <p class="py-4 text-lg text-left"></p>
          <div class="flex justify-end">
            <button id="confirmar" class="btn btn-accent mr-2 sombra">Confirmar</button>
            <button id="cancelar" class="btn btn-ghost sombra">Cancelar</button>
          </div>
        </form>
      </div>
    </dialog>
{% endblock %}

{% block js %}
<script>
  window.ISAUTHENTICATED = {{ request.user.is_authenticated|yesno:"true,false" }};
  window.DATOS_GENERALES = {{ datos_generales|safe }};
</script>
<script type="module" src="{% static 'maps/maps.js' %}"></script>
{% endblock %}