---
import { Icon } from 'astro-icon/components'

interface Props {
  icon: string;
  title: string;
}

const { icon , title } = Astro.props;
---
  <div class="clientes">
      <div class="item sombra">
        <Icon name={icon} size={80} />
      </div>
      <h3>{ title }</h3>
  </div>       

<style>

.clientes {
  @apply p-6 mx-auto flex flex-col text-center items-center;
}

.item {
  @apply text-accent inline-flex items-center h-20 w-20 justify-center mb-5 flex-shrink-0;
}

@media screen(md) {
  .clientes {
    @apply w-1/3;
  }
}

@media screen(lg) {
  .clientes {
    @apply w-1/4;
  }
}
</style>